<!-- <launch>
  <arg name="mission" default=" " doc="mission type [intersection, construction, parking, level_crossing, tunnel, cycle]"/>
    <node pkg="turtlebot3_autorace_detect" type="detect_$(arg mission)_sign" name="detect_$(arg mission)_sign" output="screen">
      <remap from="/detect/image_input" to="/camera/image_compensated" />
      <remap from="/detect/image_input/compressed" to="/camera/image_compensated/compressed" />
      <remap from="/detect/image_output" to="/detect/image_traffic_sign" />
      <remap from="/detect/image_output/compressed" to="/detect/image_traffic_sign/compressed" />    
    </node>
</launch> 
-->

<launch>
  <!-- traffic sign detection -->
  <arg name="mission" default=" "/>
    <node pkg="turtlebot3_autorace_detect" type="detect_cycle_sign" name="detect_cycle_sign" output="screen">
      <remap from="/detect/image_input" to="/camera/image_compensated" />
      <remap from="/detect/image_input/compressed" to="/camera/image_compensated/compressed" />
      <remap from="/detect/image_output" to="/detect/image_traffic_sign" />
      <remap from="/detect/image_output/compressed" to="/detect/image_traffic_sign/compressed" />    
    </node>

    <node pkg="turtlebot3_autorace_detect" type="detect_intersection_sign" name="detect_intersection_sign" output="screen">
      <remap from="/detect/image_input" to="/camera/image_compensated" />
      <remap from="/detect/image_input/compressed" to="/camera/image_compensated/compressed" />
      <remap from="/detect/image_output" to="/detect/image_traffic_sign" />
      <remap from="/detect/image_output/compressed" to="/detect/image_traffic_sign/compressed" />    
    </node>

    <node pkg="turtlebot3_autorace_detect" type="detect_parking_sign" name="detect_parking_sign" output="screen">
      <remap from="/detect/image_input" to="/camera/image_compensated" />
      <remap from="/detect/image_input/compressed" to="/camera/image_compensated/compressed" />
      <remap from="/detect/image_output" to="/detect/image_traffic_sign" />
      <remap from="/detect/image_output/compressed" to="/detect/image_traffic_sign/compressed" />    
    </node>

    <node pkg="turtlebot3_autorace_detect" type="detect_traffic_light" name="detect_traffic_light" output="screen">
      <rosparam command="load" file="$(find turtlebot3_autorace_detect)/param/traffic_light/traffic_light.yaml" />
      <param name="/is_detection_calibration_mode" value="True"/>     
      <remap from="/detect/image_input" to="/camera/image_color" />
      <remap from="/detect/image_input/compressed" to="/camera/image_color/compressed" />
      <remap from="/detect/image_output" to="/detect/image_traffic_light" />
      <remap from="/detect/image_output/compressed" to="/detect/image_traffic_light/compressed" />
      <remap from="/detect/image_output_sub1" to="/detect/image_red_light" />
      <remap from="/detect/image_output_sub1/compressed" to="/detect/image_red_light/compressed" />
      <remap from="/detect/image_output_sub2" to="/detect/image_yellow_light" />
      <remap from="/detect/image_output_sub2/compressed" to="/detect/image_yellow_light/compressed" />
      <remap from="/detect/image_output_sub3" to="/detect/image_green_light" />
      <remap from="/detect/image_output_sub3/compressed" to="/detect/image_green_light/compressed" />  
  </node>
  
  <node pkg="turtlebot3_autorace_detect" type="detect_obstacle" name="detect_obstacle" output="screen"/>

</launch>