<launch>
  <arg name="mission" default="traffic_light" doc="mission type [traffic_light, intersection, construction, parking, level_crossing, tunnel]"/>
    <node pkg="turtlebot3_autorace_core" type="core_decider" name="core_decider" output="screen"/>
    <node pkg="turtlebot3_autorace_core" type="core_controller" name="core_controller" output="screen"/>
    <node pkg="turtlebot3_autorace_core" type="cycle_controller" name="cycle_controller" output="screen"/>
    <node pkg="turtlebot3_autorace_core" type="turn_controller" name="turn_controller" output="screen"/>
    <node pkg="turtlebot3_autorace_core" type="core_obstacle" name="core_obstacle" output="screen"/>
    <node pkg="turtlebot3_autorace_core" type="stop_core_node_controller" name="stop_core_node_controller" output="screen"/>
    <node pkg="turtlebot3_autorace_core" type="core_node_mission" name="core_node_mission" output="screen"/>
</launch>